

.container {

    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    grid-gap: .3em;
    width: 60em;
    height: 100%;
    background-color: #ffffff;
    border: 1px solid #666;
    border-radius: .5em;
    position: absolute;
    left: 20%;
    right: 20%;
    top: 10em;
    z-index: -1;


}

.imageWrapper {

    float: left;
    margin-top: 5%;
    margin: .2em;
    border: #666666 solid 1px;
    border-radius: 4px;


}

.textBlock {

    position: relative;
    width: 90%;
    color: white;
    cursor: pointer;
}

.imageOverlay {

    background-color: #4aaaa5;
    color: whitesmoke;
    opacity: .9;
    position: absolute;
    top: 7.5em;
    margin: 0;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    
}


@media screen and (max-width: 960px) {

    .container {

        grid-template-columns: 100%;
        width: 80%;
        left: 10%;
        right: 10%;
        height: 175%;
    }

  
    }

  







    

